 /*contacy-us   */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
 
 *{
     padding: 0;
     margin: 0;
 }
body{
    font-family: 'Montserrat', sans-serif;
}
 
 iframe.map {
    width: 100%;
    height: 100vh;
}

.card-possition {
    position: absolute;
    top: 0;
    transform: translate(0, 50%);
}

.card-panel.contact-info {
    position: relative;
    width: 100%;
    min-height: 200px;
    background: rgb(29, 31, 38);
    border-radius: 100px 3px 100px;
    padding: 40px;
}

.card-panel.contact-info h5 {
    font-size: 25px;
    font-weight: 700;
    color: #1771e6;
}
.card-panel.contact-info h6 {
    color: gray;
    font-weight: 600;
}
.card-panel.contact-info p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.card-panel.contact-info a {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    color: #1771e6;
    font-weight: 600;
}
.card-panel.contact-info a:hover{
    color: #fff;
    text-decoration: underline;
    transition: all 0.6s cubic-bezier(0.84, 0.15, 0.82, 0.14);
}
.details a {
    color: #fff !important;
}
.details a:hover {
    text-decoration: none !important;
}
.social-link a {
    background: #fff;
    padding: 10px 16px;
    border-radius: 100px;
    font-size: 16px !important;
    border: 1px solid #fff;
    transition: all 0.6s cubic-bezier(0.84, 0.15, 0.82, 0.14);
}
.social-link,
.details {
    margin: 10px auto;
}

.back button {
    float: right;
    background: #1771e6;
    padding: 5px 20px;
    border: 1px dotted #1771e6;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.84, 0.15, 0.82, 0.14);
}
.back button::before {
    content: '\f177 ';
    font-family: 'FontAwesome';
    margin-right: 10px;
}
.back button:hover,
.social-link a:hover {
    color: #fff !important;
    background: transparent;
    border: 1px dotted #1771e6;
    transition: all 0.6s cubic-bezier(0.84, 0.15, 0.82, 0.14);
}
