div#project-details {
    display: block;
}
div.repeated-box {
    display: none;
}
body{
    font-family: 'Montserrat';
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
div#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    z-index: 1000000;
    top: 0;
    left: 0;
    text-align: center;
}
div#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
}
div.slick-current.slick-active + .slick-active .card .img-port-tn {
    filter: none;
}
@media(min-width:1600px){
    .container {
        max-width: 1440px;
        width: 80%;
    }
}
header.header-tn {
    background-size: cover;
    background-position: bottom;
}
header.header-tn nav.navbar {
    padding: 30px 15px;
    height: auto;
}
div.banner-content {
    padding: 0px 15px;
    align-items: center;
}
header.header-tn > .container {
    height: 100%;
    display: block;
    width: 100%;
    margin:  0 auto;
}
body header.header-tn li a.nav-link {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}
header.header-tn li a.nav-link i {
    padding-right: 8px;
}
body header.header-tn li.social-head a {
    padding: 8px 12px;
    color: #95718b;
    font-size: 21px;
}
span.navbar-text ul.navbar-nav {
    align-items: center;
}
.navbar-light .navbar-text a:hover {
    opacity: .8;
    color: #fff;
}
.navbar-light .navbar-text li:last-child a {
    padding-right: 0;
}
.sam-logo {
    margin-bottom: 20px;
    margin-top: -100px;
}
.banner-text h2 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 0;
    font-family: 'Montserrat Light';
}
.banner-text h1 {
    text-transform: uppercase;
}
b, strong {
    font-family: 'Montserrat Bold';
}
.mont-light {
    font-family: 'Montserrat Light';
}
.banner-text p {
    font-size: 18px;
    line-height: 30px;
}
.form-top {
    background: #fff;
    padding: 60px 30px;
    width: 100%;
    max-width: 520px;
    float: right;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
    text-align: center;
}
.form-top h6 {
    font-size: 18px;
    line-height: 36px;
    color: #a3086b;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Montserrat Bold';
}
.form-top h4 {
    font-family: 'Montserrat Bold';
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #3f3f3f;
}
.form-control {
    background: #e9e9e9;
    border-color: #e9e9e9;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: initial;
    color: #505050;
    background-clip: padding-box;
    border-radius: 5px;
    font-family: 'Montserrat Medium';
}
.form-group.col-lg-6 {
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 16px;
}
.form-group.col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
}
textarea.form-control {
    min-height: 150px;
    padding-top: 10px;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(163,8,107,.25);
    border-color: rgba(163,8,107,.5);
}
.btn-primary {
    background-color: #a3086b;
    border-color: #a3086b;
}
.btn {
    font-weight: 400;
    padding: 11px 34px;
    font-size: 21px;
    line-height: initial;
    border-radius: 5px;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    background-color: #a3086b;
    border-color: #a3086b;
    opacity: .8;
}
section.associate-logo {
    padding-top: 60px;
    padding-bottom: 60px;
}
.associate-with-img {
    display: inline-block;
    filter: grayscale(1);
    height: 100px !important;
    position: relative;
    text-align: center;
    cursor:pointer;
}
.associate-with-img:hover {
    filter: none;
}
.associate-logo .row.d-flex {
    align-items: center;
}
.banner-content .form-group.col-lg-12:last-child {
    margin-bottom: 0;
}
div.banner-content >div:last-child {
    position: relative;
}
div.banner-content >div:last-child:before {
    content: '';
    position: absolute;
    bottom: -25px;
    right: -30px;
    background-image: url(https://technosavvyllc.com/landing/img/form-bg.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: -1;
    background-size: 200px;
}
.slick-initialized .slick-slide:focus {
    outline: navajowhite;
}
.associate-with-slides img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: auto;
    transform: translate(-50%, -50%);
}
.associate-with-title h2 {
    font-size: 30px;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
    color: #3f3f3f;
}
.gen-title {
    text-align: center;
}
.gen-title h4 {
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 0;
    color: #a3086b;
}
.gen-title h2 {
    font-family: 'Montserrat Bold';
    text-transform: capitalize;
    font-size: 48px;
    line-height: initial;
    margin-bottom: 48px;
    color: #3f3f3f;
}
section.services-tn {
    padding-top: 20px;
}
.services-tn .card {
    padding: 30px 0px;
    box-shadow: 0 0 20px rgba(251,242,247,.5);
    border-color: rgba(251,242,247,1);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 30px !important;
    cursor: pointer;
    transition: all .3s linear 0s;
    position: relative;
    overflow: hidden;
}
.services-tn .card img.card-img-top {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 80px;
}
.services-tn .card-img-tn {
    width: 150px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #fbf2f7, transparent);
    border-radius: 50%;
    height: 150px;
    position: relative;
}
.services-tn .card .card-body {
    text-align: center;
    position: relative;
    z-index: 2;
}
.services-tn .card .card-body h5.card-title {
    font-size: 24px;
    font-family: 'Montserrat Bold';
    text-transform: capitalize;
}
.services-tn .card .card-body p.card-text {
    font-size: 16px;
    line-height: 24px;
}
.services-tn .card:hover .card-img-tn {
    background: #fff;
}
.services-tn .card:hover .card-body {
    color: #fff;
}
.services-tn .card:before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #790664, #a3086b);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: all .3s linear 0s;
    top: 0;
    z-index: 0;
}
.services-tn .card:hover:before {
    left: 0;
}
.outsource-tn .gen-title h4,.outsource-tn .gen-title h2 {
    color: #fff;
}
section.outsource-tn {
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 35vh;
    padding-bottom: 35vh;
}
.outsource-tn .gen-title {
}
#msform ul#progressbar {
    color: #fff;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    border-bottom: 2px solid rgb(111,68,91);
}
#msform ul#progressbar li {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    transition: all .3s linear 0s;
    font-size: 18px;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
    letter-spacing: 1px;
}
.step-form-tn {
    width: 100%;
}
#msform ul#progressbar li.active:before {
    opacity: 1;
}
#msform ul#progressbar li:before {
    background-image: url(https://technosavvyllc.com/landing/img/active-tab.png);
    background-position: bottom center;
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: -17px;
    background-size: contain;
    opacity: 0;
    transition: all .3s linear 0s;
    left: 50%;
    transform: translateX(-50%);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(181,57,137,.2);
}
.repeated-box-main .form-group.col-lg-6 {
    float: left;
}
.repeated-box-main {
    padding-top: 50px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 500px;
}
.repeated-box-main .form-group.col-lg-12 {
    clear: both;
    position: relative;
}
.repeated-box-main .form-group .form-control {
    background: #fff;
    border-color: #fff;
}
.repeated-box-main .form-group .form-control:focus {
    box-shadow: 0 0 0 4px rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.5);
}
input#pfile::-webkit-file-upload-button {
  display: none;
}
.repeated-box-main .form-group #pfile + label {
    position: absolute;
    top: 50%;
    height: 100%;
    right: calc(0px + 15px);
    transform: translateY(-50%);
    margin-bottom: 0;
}
.repeated-box-main .form-group #pfile {
    line-height: 34px;
}
.repeated-box-main .form-group #pfile + label img {
    height: 80%;
    top: 10%;
    position: relative;
}
.repeated-box-main .form-group.col-lg-12:last-child {
    text-align: center;
}
.repeated-box-main .action-button {
    /*background-image: url(https://technosavvyllc.com/landing/img/next.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: calc(100% - 15px);*/
    /*padding-right: 45px;*/
}
section.portfolio-tn {
    margin-top: -15vh;
}
.repeated-box-main .action-button.submit {
    background-image: none;
    padding-right: 34px;
    margin-left: 5px;
}
input.previous.action-button-previous {
    /*padding-left: 50px;*/
    /*margin-right: 5px;*/
    /*background-image: url(https://technosavvyllc.com/landing/img/prev.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 20px;*/
}
.btn.btn-secondary {
    background: #545b62;
    border-color: #545b62;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5) !important;}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62 !important;
    border-color: #4e555b !important;
}
.btn.btn-secondary:hover {
    opacity: .9;
}
.card-portfolio .card {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 30px;
    text-align: center;
    transition: all .3s linear 0s;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(163,8,107,.2);
    position: relative;
}
.card-portfolio .card > div {
    margin: 10px;
}
.card-portfolio .card img.card-img-top {
    width: 100%;
}
.card-portfolio .card .img-port-tn, .card-portfolio .card .img-port-tn img {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: all .3s linear 0s;
    overflow: hidden;
}
.sm-img-card {
    background: #490430;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 140px;
    height: 140px;
    position: relative;
    margin-top: -90px;
    transition: all .3s linear 0s;
}
.sm-img-card img {
    filter: brightness(100);
    height: 60px;
    width: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-portfolio h5.card-title {
    font-size: 24px;
    font-family: 'Montserrat Bold';
    text-transform: capitalize;
    color: #272727;
}
.card-portfolio p.card-text {
    font-size: 16px;
    color: #242424;
    line-height: 28px;
}
.card-portfolio .card > div.card-body {
    padding-bottom: 50px;
}
section.footer-tn {
    padding-top: 50vh;
    text-align: center;
    color: #fff;
    padding-bottom: 5vh;
    margin-top: -6vh;
}
section.footer-tn ul {
    list-style-type: none;
}
section.footer-tn ul li {
    display: inline-block;
    position: relative;
}
section.footer-tn li a {
    color: #fff;
}
section.footer-tn .logo-foot {
    margin-bottom: 30px;
}
section.footer-tn .text-foot {
    color: #9f7890;
    font-size: 18px;
    font-family: 'Montserrat Medium';
    max-width: 1000px;
    margin: 0 auto 30px;
}
.menu-foot ul li:before {
    content: '';
    position: absolute;
    right: -8px;
    width: 10px;
    border-bottom: 2px solid;
    top: 50%;
    transform: translateY(-50%);
}
.menu-foot ul li {
    padding-left: 30px;
    padding-right: 30px;
}
.menu-foot ul li:last-child:before {
    opacity: 0;
}
.menu-foot ul li a {
    font-size: 16px;
    font-family: Montserrat SemiBold;
    text-transform: uppercase;
}
.menu-foot ul li a:hover {
    text-decoration: none;
    opacity: .8;
}
.menu-foot {
    margin-bottom: 30px;
}
ul.social-foot li.social-foot {
    padding-left: 15px;
    padding-right: 15px;
}
ul.social-foot li.social-foot a {font-size: 24px;color: #592e49;transition: all .3s linear 0s;}
.card-portfolio .card:hover img.card-img-top,div.slick-current.slick-active + .slick-active .card img.card-img-top{
    transform: scale(1.1);
}
.card-portfolio .card:hover .sm-img-card,div.slick-current.slick-active + .slick-active .card .sm-img-card{
    background: #a3086b;
}
div.slick-current.slick-active + .slick-active .card:hover img.card-img-top{
    transform: scale(1.2);
}
div.slick-current.slick-active + .slick-active .card:hover .sm-img-card{
    background: #490430;
}
div.slick-current.slick-active + .slick-active .card:hover:before{
    background: #490430;
} 
.card-portfolio .card:before {
    content: '';
    background: #a3086b;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    bottom: -7px;
    opacity: 0;
    transition: all .3s linear 0s;
}
.card-portfolio .card:hover:before,div.slick-current.slick-active + .slick-active .card:before{
    opacity: 1;
}
.card {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}
ul.social-foot li.social-foot a:hover {
    color: #fff;
    opacity: .8;
}
ul.slick-dots {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
ul.slick-dots li {
    display: inline-block;
}
ul.slick-dots li button {
    background: #eac6dd;
    color: transparent;
    border: 0;
    margin-left: 3px;
    margin-right: 3px;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    margin-top: 40px;
}
ul.slick-dots li.slick-active button {
    background: #a3086b;
    width: 40px;
}
.slick-list.draggable {
    overflow: hidden;
}
ul.slick-dots li button:focus {
    outline: none;
}
input#pdate,input#pbudget,select#ptype {
    background-image: url(https://technosavvyllc.com/landing/img/date.png);
    background-size: 16px;
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
}
input#pbudget {
    background-image: url(https://technosavvyllc.com/landing/img/dollar.png);
    background-size: 10px;
}
.img-port-tn {
    filter: grayscale(1);
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select#ptype {
    background-image: url(https://technosavvyllc.com/landing/img/arrow-down.png);
    background-size: 12px;
}
ul.slick-dots li.slick-active button{
    cursor:pointer;
}
#msform ul#progressbar li {
    opacity: .5;
    cursor: auto;
}
#msform ul#progressbar li.active {
    opacity: 1;
}
@media(min-width:1600px){
    .container {
        max-width: 87.273vw;
        width: 80%;
    }
}
/*Min 768 to max*/
@media(min-width:768px){
    div#project-details {
        display: block;
    }
    div.repeated-box {
        display: none;
    }
    body{
        font-family: 'Montserrat';
    }
    header.header-tn {
        background-size: cover;
        background-position: bottom;
    }
    header.header-tn nav.navbar {
        padding: 1.818vw 0.909vw;
        height: auto;
    }
    div.banner-content {
        padding: 0vw 0.909vw;
        align-items: center;
    }
    header.header-tn > .container {
        height: 100%;
        display: block;
        width: 100%;
        margin:  0 auto;
    }
    body header.header-tn li a.nav-link {
        font-size: 0.848vw;
        font-weight: 500;
        margin-right: 0.606vw;
    }
    header.header-tn li a.nav-link i {
        padding-right: 0.485vw;
    }
    body header.header-tn li.social-head a {
        padding: 0.485vw 0.727vw;
        color: #95718b;
        font-size: 1.273vw;
    }
    span.navbar-text ul.navbar-nav {
        align-items: center;
    }
    .navbar-light .navbar-text a:hover {
        opacity: .8;
        color: #fff;
    }
    .navbar-light .navbar-text li:last-child a {
        padding-right: 0;
    }
    .sam-logo {
        margin-bottom: 1.212vw;
        margin-top: -6.061vw;
    }
    .banner-text h2 {
        font-size: 2.182vw;
        text-transform: uppercase;
        line-height: 3.636vw;
        margin-bottom: 0;
        font-family: 'Montserrat Light';
    }
    .banner-text h1 {
        text-transform: uppercase;
        font-size: 3.576vw;
        line-height: 3.636vw;
        margin-bottom: 0.727vw;
    }
    b, strong {
        font-family: 'Montserrat Bold';
    }
    .mont-light {
        font-family: 'Montserrat Light';
    }
    .banner-text p {
        font-size: 1.091vw;
        line-height: 1.818vw;
    }
    .form-top {
        background: #fff;
        padding: 3.636vw 1.818vw;
        width: 100%;
        max-width: 31.515vw;
        float: right;
        border-radius: 0.606vw;
        box-shadow: 0 0 1.818vw rgba(0,0,0,.25);
        text-align: center;
    }
    .form-top h6 {
        font-size: 1.091vw;
        line-height: 2.182vw;
        color: #a3086b;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: 'Montserrat Bold';
    }
    .form-top h4 {
        font-family: 'Montserrat Bold';
        font-size: 2.182vw;
        line-height: 2.182vw;
        text-transform: uppercase;
        margin-bottom: 1.455vw;
        color: #3f3f3f;
    }
    .form-control {
        background: #e9e9e9;
        border-color: #e9e9e9;
        height: 2.727vw;
        padding: 0.364vw 0.727vw;
        font-size: 0.848vw;
        line-height: initial;
        color: #505050;
        background-clip: padding-box;
        border-radius: 0.303vw;
        font-family: 'Montserrat Medium';
    }
    .form-group.col-lg-6 {
        padding-right: 0.485vw;
        padding-left: 0.485vw;
        margin-bottom: 0.97vw;
    }
    .form-group.col-lg-12 {
        padding-left: 0.485vw;
        padding-right: 0.485vw;
    }
    textarea.form-control {
        min-height: 9.091vw;
        padding-top: 0.606vw;
    }
    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(163,8,107,.25);
        border-color: rgba(163,8,107,.5);
    }
    .btn-primary {
        background-color: #a3086b;
        border-color: #a3086b;
    }
    .btn {
        font-weight: 400;
        padding: 0.667vw 2.061vw;
        font-size: 1.273vw;
        line-height: initial;
        border-radius: 0.303vw;
        font-family: 'Montserrat Bold';
        text-transform: uppercase;
    }
    .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        background-color: #a3086b;
        border-color: #a3086b;
        opacity: .8;
    }
    section.associate-logo {
        padding-top: 3.636vw;
        padding-bottom: 3.636vw;
    }
    .associate-with-img {
        display: inline-block;
        filter: grayscale(1);
        height: 6.061vw !important;
        position: relative;
        text-align: center;
    }
    .associate-logo .row.d-flex {
        align-items: center;
    }
    .banner-content .form-group.col-lg-12:last-child {
        margin-bottom: 0;
    }
    div.banner-content >div:last-child {
        position: relative;
    }
    div.banner-content >div:last-child:before {
        content: '';
        position: absolute;
        bottom: -1.515vw;
        right: -1.818vw;
        background-image: url(https://technosavvyllc.com/landing/img/form-bg.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: -1;
        background-size: 12.121vw;
    }
    .slick-initialized .slick-slide:focus {
        outline: navajowhite;
    }
    .associate-with-slides img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 3.636vw;
        width: auto;
        transform: translate(-50%, -50%);
    }
    .associate-with-title h2 {
        font-size: 1.818vw;
        font-family: 'Montserrat Bold';
        text-transform: uppercase;
        color: #3f3f3f;
    }
    .gen-title {
        text-align: center;
    }
    .gen-title h4 {
        font-family: 'Montserrat Bold';
        text-transform: uppercase;
        font-size: 1vw;
        line-height: 1.5vw;
        margin-bottom: 0;
        color: #a3086b;
    }
    .gen-title h2 {
        font-family: 'Montserrat Bold';
        text-transform: capitalize;
        font-size: 2.5vw;
        line-height: initial;
        margin-bottom: 2.609vw;
        color: #3f3f3f;
    }
    section.services-tn {
        padding-top: 1.212vw;
    }
    .services-tn .card {
        padding: 1.818vw 0vw;
        box-shadow: 0 0 1.212vw rgba(251,242,247,.5);
        border-color: rgba(251,242,247,1);
        border-top-left-radius: 3.03vw;
        border-bottom-right-radius: 3.03vw;
        margin-bottom: 1.818vw !important;
        cursor: pointer;
        transition: all .3s linear 0s;
        position: relative;
        overflow: hidden;
        height: calc(100% - 1.818vw);
    }
    .services-tn .card img.card-img-top {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 3.5vw;
    }
    .services-tn .card-img-tn {
        width: 7.091vw;
        margin: 0 auto;
        background-image: linear-gradient(180deg, #fbf2f7, transparent);
        border-radius: 50%;
        height: 7.091vw;
        position: relative;
    }
    .services-tn .card .card-body {
        text-align: center;
        position: relative;
        z-index: 2;
        padding: 1.212vw 2.212vw;
    }
    .services-tn .card .card-body h5.card-title {
        font-size: 1.255vw;
        font-family: 'Montserrat Bold';
        text-transform: capitalize;
    }
    .services-tn .card .card-body p.card-text {
        font-size: 0.87vw;
        line-height: 1.455vw;
    }
    .services-tn .card:hover .card-img-tn {
        background: #fff;
    }
    .services-tn .card:hover .card-body {
        color: #fff;
    }
    .services-tn .card:before {
        content: '';
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #790664, #a3086b);
        border-top-left-radius: 3.03vw;
        border-bottom-right-radius: 3.03vw;
        transition: all .3s linear 0s;
        top: 0;
        z-index: 0;
    }
    .services-tn .card:hover:before {
        left: 0;
    }
    .outsource-tn .gen-title h4,.outsource-tn .gen-title h2 {
        color: #fff;
    }
    section.outsource-tn {
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        min-height: 100vh;
        padding-top: 35vh;
        padding-bottom: 35vh;
        margin-top: -12vh;
    }
    .outsource-tn .gen-title {
    }
    #msform ul#progressbar {
        color: #fff;
        list-style-type: none;
        padding-left: 0;
        text-align: center;
        border-bottom: 0.121vw solid rgb(111,68,91);
    }
    #msform ul#progressbar li {
        display: inline-block;
        padding-bottom: 0.606vw;
        position: relative;
        padding-left: 1.818vw;
        padding-right: 1.818vw;
        transition: all .3s linear 0s;
        font-size: 1.091vw;
        font-family: 'Montserrat Bold';
        text-transform: uppercase;
        letter-spacing: 0.061vw;
    }
    .step-form-tn {
        width: 100%;
    }
    #msform ul#progressbar li.active:before {
        opacity: 1;
    }
    #msform ul#progressbar li:before {
        background-image: url(https://technosavvyllc.com/landing/img/active-tab.png);
        background-position: bottom center;
        content: '';
        width: 100%;
        height: 3.03vw;
        position: absolute;
        background-repeat: no-repeat;
        bottom: -1.03vw;
        background-size: contain;
        opacity: 0;
        transition: all .3s linear 0s;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(181,57,137,.2);
    }
    .repeated-box-main .form-group.col-lg-6 {
        float: left;
    }
    .repeated-box-main {
        padding-top: 3.03vw;
        width: 100%;
        max-width: 48.485vw;
        margin: 0 auto;
        min-height: 30.303vw;
    }
    .repeated-box-main .form-group.col-lg-12 {
        clear: both;
        position: relative;
    }
    .repeated-box-main .form-group .form-control {
        background: #fff;
        border-color: #fff;
    }
    .repeated-box-main .form-group .form-control:focus {
        box-shadow: 0 0 0 0.242vw rgba(0,0,0,.2);
        border-color: rgba(0,0,0,.5);
    }
    input#pfile::-webkit-file-upload-button {
      display: none;
    }
    .repeated-box-main .form-group #pfile + label {
        position: absolute;
        top: 50%;
        height: 100%;
        right: calc(0vw + 0.909vw);
        transform: translateY(-50%);
        margin-bottom: 0;
    }
    .repeated-box-main .form-group #pfile {
        line-height: 2.061vw;
    }
    .repeated-box-main .form-group #pfile + label img {
        height: 80%;
        top: 10%;
        position: relative;
    }
    .repeated-box-main .form-group.col-lg-12:last-child {
        text-align: center;
    }
    .repeated-box-main .action-button {
        /*background-image: url(https://technosavvyllc.com/landing/img/next.png);*/
        background-repeat: no-repeat;
        /*background-position: calc(100% - 0.909vw);*/
        /*padding-right: 2.727vw;*/
        /*background-size: 1.273vw;*/
    }
    section.portfolio-tn {
        margin-top: -18vh;
    }
    .repeated-box-main .action-button.submit {
        background-image: none;
        padding-right: 2.061vw;
        margin-left: 0.303vw;
    }
    input.previous.action-button-previous {
        /*padding-left: 3.03vw;*/
        /*margin-right: 0.303vw;*/
        /*background-image: url(https://technosavvyllc.com/landing/img/prev.png);*/
        background-repeat: no-repeat;
        background-position: 1.212vw;
        background-size: 1.273vw;
    }
    .btn.btn-secondary {
        background: #545b62;
        border-color: #545b62;
    }
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5) !important;}
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #545b62 !important;
        border-color: #4e555b !important;
    }
    .btn.btn-secondary:hover {
        opacity: .9;
    }
    .card-portfolio .card {
        border-top-left-radius: 3.03vw;
        border-bottom-right-radius: 3.03vw;
        margin-bottom: 1.818vw;
        text-align: center;
        transition: all .3s linear 0s;
        cursor: pointer;
        box-shadow: 0vw 0vw 0.5vw rgba(163,8,107,.2);
        position: relative;
    }
    .card-portfolio .card > div {
        margin: 0.606vw;
    }
    .card-portfolio .card img.card-img-top {
        width: 100%;
    }
    .card-portfolio .card .img-port-tn, .card-portfolio .card .img-port-tn img {
        border-top-left-radius: 2.424vw;
        border-bottom-right-radius: 2.424vw;
        transition: all .3s linear 0s;
        overflow: hidden;
    }
    .sm-img-card {
        background: #490430;
        display: inline-block;
        padding: 0.606vw;
        border-radius: 50%;
        border: 0.606vw solid #fff;
        width: 8.485vw;
        height: 8.485vw;
        position: relative;
        margin-top: -5.455vw;
        transition: all .3s linear 0s;
    }
    .sm-img-card img {
        filter: brightness(100);
        height: 3.636vw;
        width: auto;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card-portfolio h5.card-title {
        font-size: 1.355vw;
        font-family: 'Montserrat Bold';
        text-transform: capitalize;
        color: #272727;
    }
    .card-portfolio p.card-text {
        font-size: 0.87vw;
        color: #242424;
        line-height: 1.517vw;
        min-height: 4.364vw;
    }
    .card-portfolio .card > div.card-body {
        padding: 1.212vw;
        padding-bottom: 3.03vw;
    }
    section.footer-tn {
        padding-top: 38vh;
        text-align: center;
        color: #fff;
        padding-bottom: 5vh;
        margin-top: -20vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
    }
    section.footer-tn ul {
        list-style-type: none;
    }
    section.footer-tn ul li {
        display: inline-block;
        position: relative;
    }
    section.footer-tn li a {
        color: #fff;
    }
    section.footer-tn .logo-foot {
        margin-bottom: 1.818vw;
    }
    section.footer-tn .text-foot {
        color: #9f7890;
        font-size: 1.091vw;
        font-family: 'Montserrat Medium';
        max-width: 60.606vw;
        margin: 0 auto 1.818vw;
    }
    .menu-foot ul li:before {
        content: '';
        position: absolute;
        right: -0.485vw;
        width: 0.606vw;
        border-bottom: 0.121vw solid;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-foot ul li {
        padding-left: 1.818vw;
        padding-right: 1.818vw;
    }
    .menu-foot ul li:last-child:before {
        opacity: 0;
    }
    .menu-foot ul li a {
        font-size: 0.97vw;
        font-family: Montserrat SemiBold;
        text-transform: uppercase;
    }
    .menu-foot ul li a:hover {
        text-decoration: none;
        opacity: .8;
    }
    .menu-foot {
        margin-bottom: 1.818vw;
    }
    ul.social-foot li.social-foot {
        padding-left: 0.909vw;
        padding-right: 0.909vw;
    }
    ul.social-foot li.social-foot a {font-size: 1.455vw;color: #592e49;transition: all .3s linear 0s;}
    .card-portfolio .card:hover img.card-img-top,div.slick-current.slick-active + .slick-active .card img.card-img-top{
        transform: scale(1.1);
    }
    div.slick-current.slick-active + .slick-active .card .sm-img-card{
        background: #a3086b;
    }
    .card-portfolio .card:hover .sm-img-card{
        background: #000;
    }
    div.slick-current.slick-active + .slick-active .card:hover img.card-img-top{
        transform: scale(1.2);
    }
    div.slick-current.slick-active + .slick-active .card:hover .sm-img-card{
        background: #000;
    }
    div.slick-current.slick-active + .slick-active .card:hover:before{
        background: #000;
    } 
    .card-portfolio .card:before {
        content: '';
        background: #a3086b;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-top-left-radius: 3.03vw;
        border-bottom-right-radius: 3.03vw;
        bottom: -0.424vw;
        opacity: 0;
        transition: all .3s linear 0s;
    }
    div.slick-current.slick-active + .slick-active .card:before{
        opacity: 1;
    }
    .card-portfolio .card:hover:before{
        background: #000;
    }
    .card {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
    }
    ul.social-foot li.social-foot a:hover {
        color: #fff;
        opacity: .8;
    }
    ul.slick-dots {
        list-style-type: none;
        padding-left: 0;
        text-align: center;
    }
    ul.slick-dots li {
        display: inline-block;
    }
    ul.slick-dots li button {
        background: #eac6dd;
        color: transparent;
        border: 0;
        margin-left: 0.182vw;
        margin-right: 0.182vw;
        width: 1.212vw;
        height: 0.485vw;
        border-radius: 0.606vw;
        margin-top: 2.424vw;
    }
    ul.slick-dots li.slick-active button {
        background: #a3086b;
        width: 2.424vw;
    }
    .slick-list.draggable {
        overflow: hidden;
    }
    body {font-size: 0.97vw;line-height: 1.455vw;}
    .container {
        padding-left: 0.909vw;
        padding-right: 0.909vw;
    }
    a.navbar-brand {
        padding-top: 0.303vw;
        padding-bottom: 0.303vw;
        margin-right: 0.97vw;
        font-size: 0.848vw;
    }
    a.navbar-brand img {
        width: 15.515vw;
        height: 3.939vw;
    }
    span.navbar-text {
        padding-top: 0.485vw;
        padding-bottom: 0.485vw;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.485vw;
        padding-left: 0.485vw;
    }
    .row {
        margin-right: -0.909vw;
        margin-left: -0.909vw;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-left: 0.909vw;
        padding-right: 0.909vw;
    }
    .sam-logo img {
        width: 12.364vw;
        height: 4.364vw;
    }
    .form-control {
        border-width: 0.061vw;
    }
    .card {
        border-width: 0.061vw;
    }
    .card-title {
        margin-bottom: 0.727vw;
        line-height: 1.518vw;
    }
    dl, ol, ul {
        margin-bottom: 0.97vw;
    }
    .card-portfolio .card img.card-img-top {
        height: 20vw;
        object-fit: cover;
    }
    section.footer-tn .logo-foot img {
        width: 15.515vw;
        height: 3.939vw;
    }
    p {
        margin-bottom: 0.97vw;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.485vw;
    }
    .form-group {
        margin-bottom: 0.97vw;
    }
    input#pdate,input#pbudget {
        background-image: url(https://technosavvyllc.com/landing/img/date.png);
        background-size: 0.97vw;
        background-position: calc(100% - 0.606vw);
        background-repeat: no-repeat;
    }
    input#pbudget {
        background-image: url(https://technosavvyllc.com/landing/img/dollar.png);
        background-size: 0.606vw;
    }
    select#ptype {
        background-image: url(https://technosavvyllc.com/landing/img/arrow-down.png);
        background-size: 0.727vw;
    }
}
@media(min-width:200px) and (max-width:767px){
    header.header-tn a.navbar-brand {
        max-width: 65%;
        margin: 0 auto 15px;
    }
    header.header-tn a.navbar-brand img {
        width: 100%;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(https://technosavvyllc.com/landing/img/menu-btn.png);
        background-size: 25px;
    }
    .navbar-light .navbar-toggler {
        border-color: #fff;
        display: none;
    }
    .sam-logo {
        margin-top: 10px;
        text-align: center;
    }
    .banner-text h2 {
        font-size: 24px;
        line-height: 1.7;
        text-align: center;
    }
    .banner-text h1 {
        font-size: 32px;
        text-align: center;
    }
    .banner-text p {
        font-size: 14px;
        line-height: 1.7;
        text-align: center;
        margin-bottom: 25px;
    }
    .form-top h6 {
        font-size: 16px;
    }
    .form-top h4 {
        font-size: 24px;
    }
    textarea.form-control {
        min-height: 100px;
    }
    .btn {
        padding: 11px 34px;
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .associate-with-title {
        text-align: center;
    }
    div#navbarText {
        background: rgba(255,255,255,.9);
        margin-top: 5px;
        border-radius: 10px;
    }
    body header.header-tn li a.nav-link {
        color: #000 !important;
        margin-right: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    li.social-head {
        display: inline-block;
    }
    .navbar-light .navbar-text {
        width: 100%;
    }
    span.navbar-text ul.navbar-nav {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    li.nav-item + li.social-head {
        padding-top: 5px;
    }
    header.header-tn nav.navbar {
        text-align: center;
    }
    div.banner-content {
        justify-content: center;
    }
    .sam-logo img {
        margin: 0 auto;
        width: auto;
    }
    div.banner-content >div:last-child:before {
        right: 0;
    }
    .associate-with-title h2 {
        font-size: 24px;
    }
    section.associate-logo {
        padding-bottom: 30px;
    }
    .gen-title h4 {
        font-size: 16px;
        line-height: 1.7;
    }
    .gen-title h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }
    .services-tn .card-img-tn {
        width: 100px;
        height: 100px;
    }
    .services-tn .card img.card-img-top {
        height: 50px;
    }
    .services-tn .card .card-body h5.card-title {
        font-size: 21px;
    }
    .services-tn .card .card-body p.card-text {
        font-size: 14px;
    }
    section.outsource-tn {
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #2f0720;
        background-image: none !important;
    }
    #msform ul#progressbar li {
        font-size: 14px;
        padding-left: 11px;
        padding-right: 11px;
        text-transform: capitalize;
    }
    #msform ul#progressbar li.active:before {
        bottom: -10px;
    }
    .step-form-tn {
        padding-left: 15px;
        padding-right: 15px;
    }
    .repeated-box-main {
        padding-top: 20px;
    }
    section.portfolio-tn {
        margin-top: 60px;
    }
    .card-portfolio h5.card-title {
        font-size: 21px;
    }
    .card-portfolio p.card-text {
        font-size: 14px;
        min-height: 84px;
    }
    section.footer-tn {
        background-position: center;
        padding-top: 0;
        background: #2e061f;
        margin-top: 0;
        padding-top: 60px;
        background-image: none !important;    
        padding-left: 15px;
        padding-right: 15px;

    }
    section.footer-tn .text-foot {
        font-size: 14px;
    }
    .menu-foot ul li a {
        font-size: 14px;
        color: #9f7890;
    }
    section.footer-tn ul {
        padding-left: 0;
    }
    .menu-foot ul li:before {
        opacity: 0;
    }
    section.services-tn {
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;

    }
    .repeated-box-main .form-group.col-lg-12:last-child {
        margin-top: 30px;
    }
    .repeated-box-main {
        min-height: unset;
    }
    .card-portfolio .card .img-port-tn img {
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
    section.portfolio-tn {
        padding-left: 15px;
        padding-right: 15px;
    }
    ul.slick-dots li button {
        margin-top: 15px;
    }
    section.portfolio-tn {
        padding-bottom: 30px;
    }
    section.footer-tn ul li {
        padding-bottom: 7px;
    }
    div.slick-current .img-port-tn {
        filter: none;
    }
}
/*600 to 767*/
@media(min-width:600px) and (max-width:767px){
    .services-tn .card .card-body h5.card-title {
        font-size: 18px;
    }
    .services-tn .card .card-body p.card-text {
        min-height: 96px;
    }
    section.outsource-tn {
        min-height: unset;
    }
    section.footer-tn .menu-foot ul li {
        width: 100%;
    }
}
/*768 to 980*/
@media(min-width:768px) and (max-width:980px){
    header.header-tn {
        min-height: 39vh !important;
    }
    .container {
        max-width: 720px;
    }
    section.outsource-tn {
        margin-top: 0;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    section.outsource-tn {
        min-height: unset;
    }
    section.portfolio-tn {
        margin-top: 0;
    }
    section.footer-tn {
        margin-top: 0;
        padding-top: 20vh;
    }
    .card-portfolio p.card-text {
        font-size: 1.4vw;
        line-height: 2.2vw;
    }
    .card-portfolio h5.card-title {
        font-size: 2vw;
        margin-bottom: 1vw;
    }
    .services-tn .card .card-body p.card-text {
        font-size: 1vw;
        line-height: 1.8vw;
    }
    .associate-with-title h2 {
        font-size: 2vw;
    }
    section.footer-tn .text-foot {
        font-size: 1.4vw;
        line-height: 2vw;
    }
}